/*** VAN PAGES ***/
.van-list-container {
  padding-inline: 23px;
}

.van-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  row-gap: 34px;
  column-gap: 15px;
  margin-top: 40px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile {
  width: 100%;
  padding: 10px 10px 20px;
  border-radius: 5px;
  & img {
    width: 100%;
    border-radius: 5px;
  }
}

.van-list-container button {
  // margin-right: 20px;
  cursor: pointer;
}

.van-info {
  width: max-content;
  margin-bottom: 1rem;
  padding: 5px;
  & > * {
    margin-bottom: 0.5rem;
  }
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-filter {
  margin-left: 1rem;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.all:hover,
.van-type.all.selected {
  background-color: #8cd15e;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}

.van-detail-container {
  padding: 27px;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
  &.rm-ml {
    margin-left: 0;
  }
}

// .van-detail-container .back-button:visited {
// }

.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1rem;
  // flex-direction: column;
  column-gap: 8%;
  color: #161616;
  margin-top: 1.5rem;
}

.van-detail img {
  border-radius: 5px;
  // margin-block: 47px;
  width: 100% !important;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #ff8c38;
  color: white;
  font-size: 1.125rem;
}

.van-detail > .van-float-right {
  max-width: 50%;
  min-width: 10%;
  max-height: 50rem;
  & > *:nth-child(2) {
    margin-top: 1rem;
  }
  & > * {
    margin-bottom: 0.5rem;
  }
}

.filtered-van {
  width: 100%;
  padding: 10px;
  height: 60px;
  overflow-x: scroll;
  display: flex;
  &::-webkit-scrollbar {
    background-color: transparent;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(219, 219, 219, 0.494);
  }
}

.van-tile-link {
  width: 10% !important;
}

@media (max-width: 768px) {
  .van-detail {
    flex-direction: column;
    margin-left: 0;
    // border: 1px solid #000;
    align-items: flex-start;
  }
  .van-detail-container .back-button {
    margin-top: 0;
  }
  .van-detail img {
    // border: 5px solid red;
    margin-bottom: 1.5rem;
    // margin-top: 1rem;
    scale: 0.9;
    // display: none;
  }
  .van-detail > .van-float-right {
    max-width: 100%;
    min-width: 20rem;
    padding: 10px;
    // border: 1px solid #000;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1000px) {
  .van-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 900px) {
  .van-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .van-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 410px) {
  .van-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .van-tile {
    width: 85%;
    & img {
      scale: 0.9;
    }
  }
}
